<div ng-click="toggle()">Click me!</div>
<school-selector showed="showed" complete="complete(data)" init-data="clause"></school-selector>


<!--<div ng-controller="MyCourseCtrl">-->
    <!--<div ng-click="toggle()">Click me!</div>-->
    <!--<div>{{clause}}</div>-->
    <!--<school-selector showed="showed" complete="complete(data)" init-data="clause"></school-selector>-->
<!--</div>-->
<!--
<header class="address_header">
    <div><i class="weui-icon-cancel"></i></div>
    <div class="title">选择学校</div>
    <div><p><span></span></p></div>
</header>
<div class="address_divsionSelect">
    <ul class="address_selected">
        <li class="address_row" data-parentcode="1" data-name="黑龙江省" data-code="230000" data-post="undefined" data-isleaf="0">
            黑龙江省
        </li>
    </ul>
    <ul id="forselect">
        <li class="address_row" data-parentcode="230000" data-name="哈尔滨市" data-code="230100" data-post="150000" data-isleaf="0">
            哈尔滨市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="齐齐哈尔市" data-code="230200" data-post="161000"
            data-isleaf="0">齐齐哈尔市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="鸡西市" data-code="230300" data-post="158100" data-isleaf="0">
            鸡西市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="鹤岗市" data-code="230400" data-post="154100" data-isleaf="0">
            鹤岗市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="双鸭山市" data-code="230500" data-post="155100" data-isleaf="0">
            双鸭山市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="大庆市" data-code="230600" data-post="163000" data-isleaf="0">
            大庆市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="伊春市" data-code="230700" data-post="153000" data-isleaf="0">
            伊春市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="佳木斯市" data-code="230800" data-post="154000" data-isleaf="0">
            佳木斯市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="七台河市" data-code="230900" data-post="154600" data-isleaf="0">
            七台河市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="牡丹江市" data-code="231000" data-post="157000" data-isleaf="0">
            牡丹江市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="黑河市" data-code="231100" data-post="164300" data-isleaf="0">
            黑河市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="绥化市" data-code="231200" data-post="152000" data-isleaf="0">
            绥化市
        </li>
        <li class="address_row" data-parentcode="230000" data-name="大兴安岭地区" data-code="232700" data-post="165000"
            data-isleaf="0">大兴安岭地区
        </li>
    </ul>
</div>
-->